body{
    background-color: #E4CDA7; 
}
hr {
    height: 2px;
    width: 50px;
    border: 4px dotted;
    border-style: none none dotted;
    color: black;
}

h1{
   color: #313552;
}
h2{
    color: #313552;
}
h3{
    color: #313552;
}